<section class="hero is-dark is-small animated fadeInDown">
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left" style="width: 70%;">
        <a class="nav-item medium-text">
          ASSETS
        </a>
        <a routerLink="/home" class="nav-item is-tab is-hidden-mobile">Home</a>
        <a routerLink="/locallistar" class="nav-item is-tab is-hidden-mobile">Local</a>
        <a routerLink="/setorlistar" class="nav-item is-tab is-hidden-mobile">Setor</a>
        <a routerLink="/usuariolistar" class="nav-item is-tab is-hidden-mobile">Usuário</a>
        <a routerLink="/equipamentolistar" class="nav-item is-tab is-hidden-mobile">Equipamento</a>
        <a routerLink="/marcalistar" class="nav-item is-tab is-hidden-mobile">Marca</a>
        <a routerLink="/modelolistar" class="nav-item is-tab is-hidden-mobile">Modelo</a>
        <a routerLink="/solistar" class="nav-item is-tab is-hidden-mobile">S.O.</a>
        <a routerLink="/suitelistar" class="nav-item is-tab is-hidden-mobile">Suite</a>
      </div>
      <!--<span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a routerLink="/home" class="nav-item is-tab is-hidden-tablet">Home</a>
        <a routerLink="/locallistar" class="nav-item is-tab is-hidden-tablet">Local</a>
        <a routerLink="/setorlistar" class="nav-item is-tab is-hidden-tablet">Setor</a>
        <a routerLink="/usuariolistar" class="nav-item is-tab is-hidden-tablet">Usuário</a>
        <a routerLink="/equipamentolistar" class="nav-item is-tab is-hidden-tablet">Equipamento</a>
        <a routerLink="/marcalistar" class="nav-item is-tab is-hidden-tablet">Marca</a>
        <a class="nav-item is-tab">Log out</a>
      </div>-->
    </div>
  </nav>
</section>
<app-sub-menu></app-sub-menu>
